{% if not current_buyin %}
    <h3>Текущая закупка отсутствует</h3>
{% else %}
<div>
    <h2>Текущая закупка от {{ current_buyin.created_at.strftime("%d.%m.%Y") }} на {{ current_buyin.days }} дней</h2>
    <table class="table">
        <tr>
            <td>Статус:</td><td><b>{{ current_buyin.state.value[0] }}</b></td>
        </tr>
        <tr>
            <td>{{ current_buyin.state.value[1] }}:</td><td>{{ current_buyin.next_step.strftime("%d.%m.%Y") }}</td>
        </tr>
        <tr>
            <td>Текущий объем:</td><td>{{ current_buyin.orders_total() }} кг</td>
        </tr>
        <tr>
            <td>Текущая сумма:</td><td>{{ current_buyin.total_cost_without_shipment() }} руб.</td>
        </tr>
        <tr>
            <td>Плюс доставка:</td><td>{{ current_buyin.shipment_price }} руб.</td>
        </tr>
    </table>
    <table class="table table-hover">
        <thead>
            <th>Кофе</th>
            <th>Описание</th>
            <th>От 25 кг</th>
            <th>От 50 кг</th>
        </thead>
        <tbody>
            {% if not current_buyin.office_orders %}
            <tr><td colspan="4">Администратор закупки пока ничего не выбрал.</td></tr>
            {% else %}
                {% for office_order, coffee_price in current_buyin.office_coffee_prices() %}
                <tr>
                    <td>{{ office_order.coffee_type.name}} </td>
                    <td>{{ office_order.coffee_type.description }} </td>
                    <td>{{ coffee_price.price25 }} руб.</td>
                    <td>{{ coffee_price.price50 }} руб.</td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{% endif %}