{% if not current_buyin %}
    <h3>Текущая закупка отсутствует</h3>
{% else %}
<div>
    <form action="{{ url_for('edit_buyin') }}" method="post">
        {{ edit_buyin_form.hidden_tag() }}
        <h2>Текущая закупка от {{ current_buyin.created_at.strftime("%d.%m.%Y") }} на {{ edit_buyin_form.days(type='number', style='width: 80px') }} дней
            <span>{{ edit_buyin_form.submit() }}</span>
        </h2>
        <table class="table">
            <thead>
                <th></th>
                <th></th>
                <th>В офис</th>
                <th>Домой</th>
            </thead>
            <tr>
                <td>Статус:</td>
                <td colspan="4"><b>{{ current_buyin.state.value[0] }}</b></td>
            </tr>
            <tr>
                <td>{{ current_buyin.state.value[1] }}:</td>
                <td colspan="4">{{ edit_buyin_form.next_date(type='date') }}</td>
            </tr>
            <tr>
                <td>Текущий объем:</td>
                <td><b>{{ "{0:.2f}".format(current_buyin.orders_total()) }} кг</b></td>
                <td>{{ "{0:.2f}".format(current_buyin.office_total()) }} кг</td>
                <td colspan="2">{{ "{0:.2f}".format(current_buyin.individual_total()) }} кг</td>
            </tr>
            <tr>
                <td>Текущая сумма:</td>
                <td><b>{{ "{0:.2f}".format(current_buyin.total_cost_without_shipment()) }} руб.</b></td>
                <td>{{ "{0:.2f}".format(current_buyin.office_cost()) }} руб.</td>
                <td colspan="2">{{ "{0:.2f}".format(current_buyin.individual_cost()) }} руб.</td>
            </tr>
            <tr>
                <td>Плюс доставка:</td>
                <td>{{ edit_buyin_form.shipment(type='number', style='width: 80px') }} руб.</td>
                <td></td>
                <td></td>
                <td><b>{{ "{0:.2f}".format(current_buyin.shipment_price + current_buyin.total_cost_without_shipment()) }} руб.</b></td>
            </tr>
        </table>
    </form>
    <table class="table table-hover">
        <thead>
            <th>Кофе</th>
            <th>Описание</th>
            <th>От 25 кг</th>
            <th>От 50 кг</th>
            <th></th>
        </thead>
        <tbody>
            {% if not current_buyin.office_orders %}
            <tr><td colspan="5">Добавь кофе для офиса!</td></tr>
            {% else %}
                {% for office_order, coffee_price in current_buyin.office_coffee_prices() %}
                <form action="{{ url_for('delete_office_order') }}" method="post">
                    {{ delete_office_order_form.hidden_tag() }}
                    {{ delete_office_order_form.id(hidden='hidden', value=office_order.id) }}
                    <tr>
                        <td>{{ office_order.coffee_type.name}} </td>
                        <td>{{ office_order.coffee_type.description }} </td>
                        <td>{{ coffee_price.price25 }} руб.</td>
                        <td>{{ coffee_price.price50 }} руб.</td>
                        <td>{{ delete_office_order_form.submit() }}</td>
                    </tr>
                </form>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{% endif %}