<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">
            <h3><small>{{ news_item.timestamp.strftime("%d.%m.%y %H:%M") }}</small></h3>
        </div>
        <div class="col-md-9">
            <h3>{{ news_item.header }}</h3>
        </div>
        <div class="col-md-2">
            <h3><small>Просмотрено:<br>{{ user_viewed.viewed_at.strftime("%d.%m.%y %H:%M") if user_viewed else "Только что"}}</small></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% for para in news_item.content.split('\n') %}
                <p class="lead">{{ para }}</p>
            {% endfor %}
        </div>
    </div>
</div>