{% extends 'flask_user/_authorized_base.html' %}

{% block content %}
{% include 'fragments/current_buyin.html' %}
{% if current_user.has_roles('Босс') %}
    {% if not current_buyin %}
        <h4>Создать новую закупку</h4>
        <form action="{{ url_for('buyin') }}" method="post">
            {{ buyin_form.hidden_tag() }}
            {{ buyin_form.next_step(type='date') }}

            {{ buyin_form.submit() }}
        </form>
    {% else %}
        <h2>Заказы в офис</h2>
        <table class="table table-striped table-hover">
            <thead>
                <th>Кто</th>
                <th>Чего</th>
                <th>Сколько</th>
                <th>Итого</th>
            </thead>
            <tbody>
            {% for office_order in current_buyin.office_orders_with_prices %}
                <tr>
                    <td>{{ office_order[0].user.name }}</td>
                    <td>{{ office_order[0].coffee_type.name }}</td>
                    <td>{{ office_order[0].amount }}</td>
                    <td>{{ office_order[0].amount * (office_order[1].price25 if current_buyin.orders_total() < 50 else office_order[1].price50) }} руб.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h2>Заказы домой</h2>
        <table class="table table-striped table-hover">
            <thead>
                <th>Кто</th>
                <th>Чего</th>
                <th>Сколько</th>
                <th>Итого</th>
            </thead>
            <tbody>
            {% for individual_order in current_buyin.individual_orders_with_prices %}
                <tr>
                    <td>{{ individual_order_with_prices[0].user.name }}</td>
                    <td>{{ individual_order_with_prices[0].coffee_type.name }}</td>
                    <td>{{ individual_order_with_prices[0].amount }}</td>
                    <td>{{ individual_order_with_prices[0].amount * (individual_order_with_prices[1].price25 if current_buyin.orders_total() < 50 else individual_order_with_prices[1].price50) }} руб.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <form action="{{ url_for('proceed_buyin') }}" method="post">
            {{ proceed_buyin_form.hidden_tag() }}
            {{ proceed_buyin_form.id(hidden='hidden', value=current_buyin.id) }}
            <button type="submit">{{ current_buyin.state.value[2] }}</button>
        </form>
    {% endif %}
{% endif %}


<h2>История закупок</h2>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Дата создания</th>
        <th>Статус</th>
        <th>Объем</th>
        <th>Сумма</th>
    </tr>
    </thead>
    <tbody>
    {% for buyin in buyins %}
    <tr>
        <td>{{ buyin.created_at }}</td>
        <td>{{ buyin.state.value[0] }}</td>
        <td>{{ buyin.amount }} кг</td>
        <td>{{ buyin.price() }} руб.</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}