{% extends 'flask_user/_authorized_base.html' %}

{% block content %}
{% include 'fragments/current_buyin.html' %}
<h2>По пользователям</h2>
<table class="table table-sm table-hover">
    <thead>
        <th width="24%">Кто</th>
        <th>В офис</th>
        <th>Домой</th>
        <th>Итого+дост.</th>
        <th>Оплачено</th>
        <th>Внести</th>
    </thead>
    <tbody>
    {% for user, costs_per_user, user_payment in users_costs %}
        <tr>
            <td>{{ user.first_name + ' ' + user.username + ' ' + user.last_name + ' ' + user.email }}</td>
            <td>{{ "{0:.2f}".format(costs_per_user[0]) }} руб.</td>
            <td>{{ "{0:.2f}".format(costs_per_user[1]) }} руб.</td>
            <td>{{ "{0:.2f}".format(costs_per_user[2]) }} руб.</td>
            <td>{{ user_payment.amount if user_payment else 0 }} руб.</td>
            <form action="{{ url_for('set_payment') }}" method="post">
                {{ set_payment_form.hidden_tag() }}
                {{ set_payment_form.user(hidden='hidden', value=user.first_name + ' ' + user.username + ' ' + user.last_name + ' ' + user.email) }}
                {{ set_payment_form.user_id(hidden='hidden', value=user.id) }}
                <td>{{ set_payment_form.amount(type='number', style='width: 80px') }}</td>
                <td>{{ set_payment_form.submit() }}</td>
            </form>
        </tr>
    {% endfor %}
    </tbody>
</table>
<h3>Контрольная сумма, должна быть равна сумме закупки с доставкой: <b>{{ total_sum }} руб.</b></h3>
{% endblock %}