{% extends "flask_user/_authorized_base.html" %}

{% block content %}
<h1>Hi, {{ user.username }}!</h1>
{% if not current_buyin %}
    <h3>Текущая закупка отсутствует</h3>
{% else %}
    {% include 'fragments/current_buyin.html' %}
{% endif %}
<h4>Мой заказ в офис: {{ my_office_order }}</h4>
<br>
<h4>Мой заказ домой:</h4>
<table class="table table-striped table-hover">
    <thead>
    <tr>
    <th>Сорт</th>
    <th>Описание</th>
    <th>Кол-во</th>
    <th>По 25 кг</th>
    <th>по 50 кг</th>
    </tr>
    </thead>
    <tbody>
    {% if not my_own_order %}
    <tr>
        <td colspan="5">В заказе пусто. <a href="{{ url_for('price') }}">Выбрать кофе</a></td>
    </tr>
    {% else %}
    {% for order_row in my_own_order %}
    <tr><td colspan="5"> {{ order_row.__dict__ }}</td></tr>
    {% endfor %}
    {% endif %}
    </tbody>
</table>
{% endblock %}