{% extends "flask_user/_authorized_base.html" %}

{% block content %}
<h1>Hi, {{ user.username }}!</h1>
{% if not current_buyin %}
    <h3>Текущая закупка отсутствует</h3>
{% else %}
    {% include 'fragments/current_buyin.html' %}
{% endif %}
<h4>Мой заказ в офис: {{ my_office_order }}</h4>
<br>
<h4>Мои заказы себе:</h4>
<table class="table table-striped table-hover">
    <thead>
    <tr>
    <th>Сорт</th>
    <th>Описание</th>
    <th>Кол-во</th>
    <th>По 25 кг</th>
    <th>по 50 кг</th>
    </tr>
    </thead>
    <tbody>
    {% for order_row in my_own_order %}
    <tr>
        <td>{{ order_row.coffee_type.name }}</td>
        <td>{{ order_row.coffee_type.description }}</td>
        <td>{{ order_row.amount }} кг</td>
        <td>{{ order_row.price25 * order_row.amount }} руб.</td>
        <td>{{ order_row.price50 * order_row.amount }} руб.</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}