{% extends 'flask_user/_authorized_base.html' %}

{% block content %}
<h2>Текущий прайс</h2>
<h3>Действителен до: {{ date_to }}</h3>
<table class="table table-striped table-hover">
    <thead>
    <tr>
    <th>Сорт</th>
    <th>Описание</th>
    <th>Цена от 25 кг</th>
    <th>Цена от 50 кг</th>
    <th>Заказ, кг</th>
    </tr>
    </thead>
    <tbody>
    {% for coffee in coffee_with_prices %}
    <tr>
        <td>{{ coffee.name }}</td>
        <td>{{ coffee.description }}</td>
        <td>{{ coffee.price25 }} руб.</td>
        <td>{{ coffee.price50 }} руб.</td>
        <form action="{{ url_for('order') }}" method="post">
            {{ form.hidden_tag() }}
            {{ form.id(hidden='hidden', value=coffee.id) }}
            <td>{{ form.amount(style='width: 60px', type='number', step=0.5) }}{{ form.submit() }}</td>
        </form>
    </tr>
    {% endfor %}
    </tbody>
</table>
<h4>Добавить в текущий прайс:</h4>
<form action="{{ url_for('price') }}" method="post">
    {{ add_form.hidden_tag() }}
    {{ add_form.coffee() }}
    {{ add_form.price25(type='number') }}
    {{ add_form.price50(type='number') }}
    {{ add_form.submit() }}
</form>
{% endblock %}