{% extends "flask_user/_authorized_base.html" %}

{% block content %}
{% include 'fragments/current_buyin.html' %}
{% set costs_per_user = current_buyin.costs_per_user(current_user.id) if current_buyin else [0, 0, 0] %}
<h2>Мой заказ: {{ "{0:.2f}".format(costs_per_user[2]) }} руб.</h2>
<br>
    <table class="table">
        <tbody>
            <tr>
                <td>{{ set_cups_form.number.label }}</td>
                <td>
                    <form action="{{ url_for('my_cups') }}" method="post">
                        {{ set_cups_form.hidden_tag() }}
                        {{ set_cups_form.number(type='number', step=0.5, class='inline', min=0) }}
                        {{ set_cups_form.submit(class='inline') }}
                    </form>
                </td>
                <td colspan="2"><h4>На {{ current_buyin.days }} дней это {{ "{0:.2f}".format(costs_per_user[0]) }} руб.</h4></td>
            </tr>
        </tbody>
    </table>
<h3>Мой заказ домой:
    {% if costs_per_user[1] > 0 %}
    {{ "{0:.2f}".format(costs_per_user[1]) }} руб.
    {% endif %}
</h3>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Сорт</th>
        <th>Описание</th>
        <th>Кол-во</th>
        <th>От 25 кг</th>
        <th>От 50 кг</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% if not my_own_order %}
    <tr>
        <td colspan="5">В заказе пусто. <a href="{{ url_for('price') }}">Выбрать кофе</a></td>
    </tr>
    {% else %}
    {% for order_row, coffee_price in my_own_order %}
    <form action="{{ url_for('delete_order_row') }}" method="post">
        {{ delete_row_form.hidden_tag() }}
        {{ delete_row_form.id(hidden='hidden', value=order_row.id) }}
        <tr>
            <td>{{ order_row.coffee_type.name }}</td>
            <td>{{ order_row.coffee_type.description }}</td>
            <td>{{ order_row.amount }} кг</td>
            <td>{{ coffee_price.price25 * order_row.amount }} руб.</td>
            <td>{{ coffee_price.price50 * order_row.amount }} руб.</td>
            <td>{{ delete_row_form.submit() }}</td>
        </tr>
    </form>
    {% endfor %}
    {% endif %}
    </tbody>
</table>
{% endblock %}